.name {
    display: inline;
    justify-content: start;
}
.ttt {
    display: inline;
    margin-left: 7em;
}
.title {
    display: inline;
}

.date {
    display: inline;
    position: relative;
}
.date1 {
    display: inline-block;
    align-items: center;
    position: absolute;
    left: 16em;
}
.button-delete {
    position: absolute;
    left: 13em;
    top: -0.35em;
}
.qq{
    margin-top: 0.1em;
    cursor: pointer;
}
.card{
    width: 40%;
}
.example-button-container{
    position: absolute;
    right: 2em;
    top:0.5em;
}
