<mat-toolbar class="tool">Список существующих тем</mat-toolbar>
<mat-card class="card">
    <div class="title">Название</div>
    <div class="ttt">Прикрепленный классификатор</div>
    <div class="example-button-container">
        <button class="but-2" (click)="onClick()" mat-mini-fab color="accent"
            aria-label="Example icon button with a plus one icon">
            <mat-icon>plus_one</mat-icon>
        </button>
    </div>
    <hr>
    <div *ngFor="let item of list">
        <div class="qq">
            <mat-card>
                <div class="date">
                    {{item.name}}
                    <div class="date1">
                        {{item.classificators.classificator}}
                        <button class="button-delete" (click)="onDelete(item.id)" mat-button
                            color="warn">Удалить</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</mat-card>