.card {
    display: flex;
    justify-content: left;
    width: 18%;
    margin-top: 5em;
    max-height: 350px;
    height: 350px;
    background-color: #d9d9d9;
}
.image {
    width: 20%;
    height: 20%;
    margin-right: 1em;
}
.popular-article {
    margin-top: 0.7em;
    font-family: Ultra;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}
.label-cont {
    display: flex;
    justify-content: center;
    font-family: Ultra;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    text-transform: uppercase;
}

input {
    border: none;
    outline: none;
    border-radius: 3px;
}
a {
    text-decoration: none;
    color: black;
}
input {
    width: 70%;
    height: 42px;
    background: #f9f0da;
    padding-left: 15px;
}

.search {
    display: flex;
    justify-content: center;
}
.search-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.icon-search {
    width: 30px;
    height: 20px;
    z-index: 100;
}
.button-c {
    border: none;
    width: 40px;
}
.card-2 {
    height: 270px;
}
.search-img {
    width: 10%;
    height: 10%;
    margin-right: 2em;
}
.search-card {
    display: inline-block;
    justify-content: center;
    width: 60%;
    height: 450px;
    max-height: 450;
    bottom: 24em;
    right: 0em;
    overflow-y: auto;
}
.cont {
    display: flex;
    justify-content: center;
    height: 100px;
}
.search-article {
    margin-left: 4em;
    margin-top: 1em;
    margin-bottom: 1em;
    position: relative;
    cursor: pointer;
}
.name {
    font-size: 15px;
    display: inline-block;
}
.desc {
    font-size: 13px;

    position: absolute;
    top: 4em;
    left: 8.6em;
}
.general-container{
    height: 562px;
}
.rec-card{
    position: relative;
    height: 350px;
    max-height: 350px;
    width: 100%;
    background-color: #d9d9d9;
}

.recommendation-container{
    display: inherit;
    margin-left: 77em;
    margin-top: -28.2em;

}