<div class="general-container">
    <form [formGroup]="searchForm" novalidate>
        <div class="search-container">
            <input class="search" type="text" formControlName="search" placeholder="Искать здесь...">
            <button class="button-c" (click)="onClick()"><img class="icon-search"
                    src="https://327517.selcdn.ru/darkxx/icon2.png" alt=""></button>
        </div>
    </form>

    <mat-card class="card">
        <label class="label-cont"> Популярные статьи</label>
        <mat-card class="card-2">
            <div *ngFor="let item of popularArticles">
                <div (click)="onPick(item.id)" class="popular-article">
                    <a *ngIf="isPopularPhoto">
                        <img class="image" [src]="item.photo.source" alt="">
                        {{item.name}}
                    </a>
                </div>
            </div>
        </mat-card>
    </mat-card>
    <div class="cont">
        <mat-card *ngIf="isResponsed" class="search-card">
            <div *ngFor="let item of response">
                <div (click)="onPick(item.id)" class="search-article">
                    <a>
                        <img class="search-img" [src]="item.photo.source" alt="">
                        <label class="name">{{item.name}}</label>
                        <label class="desc">{{item.description}}</label>
                    </a>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="recommendation-container">
        <mat-card class="rec-card">
            <label class="label-cont"> Рекомендации</label>
            <mat-card class="card-2">
                <div *ngFor="let item of reccomendtion">
                    <div class="popular-article" (click)="onPick(item.id)">
                        <a *ngIf="isRecPhoto">
                            <img class="image" [src]="item.photo[0].source" alt="">
                            {{item.name}}
                        </a>
                    </div>
                </div>
            </mat-card>
        </mat-card>
    </div>
</div>