<div class="preference-container">Выбор предпочтений</div>
<div class="general-container">
    <div class="boundary-container" *ngFor="let item of themes.list;let i = index">
        <div class="example-boundary">
            <div [id]="i" class="example-box" (click)="toggle(i, item.name, item.id)"
                cdkDragBoundary=".example-boundary" cdkDrag>
                <div class="theme">{{item.name}}</div>
            </div>
        </div>
    </div>


</div>

<div class="kek">
    <div class="button-container">
        <button (click)="onClick()">
            <div class="confirm">Подтвердить</div>
        </button>
    </div>
</div>