.preference-container {
    font-family: Ultra;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    display: flex;
    margin-bottom: 2em;
    margin-top: 2em;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #040404;
    margin-left: 32em;
}
.example-box {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: red;
    margin-top: 35px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 10px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-boundary {
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
}

.theme {
    font-family: Actor;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #ffffff;
    text-transform: uppercase;
    align-items: center;
}
.general-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
    height: 20%;
    margin-left: 25em;
}

body {
    background: #a4dada;
}
button {
    text-decoration: none;
    outline: none;
    display: inline-block;
    border: none;
    padding: 15px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px rgb(7, 0, 0) inset, 0 0 0 0 rgb(7, 0, 0);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: 0.15s ease-in-out;
}
button:hover {
    box-shadow: 0 0 10px 0 rgb(7, 0, 0) inset, 0 0 10px 4px rgb(7, 0, 0);
    color: rgb(7, 0, 0);
}
.confirm {
    color: white;
}
.confirm:hover {
    color: rgb(7, 0, 0);
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
