<mat-toolbar class="tool">Статья: {{document.name}}</mat-toolbar>
<div class="general-article-cont">
    <mat-card class="article-container">
        <div class="example-button-container">
            <button (click) = "onClick()" mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
                <mat-icon>bookmark</mat-icon>
            </button>
            <label class="read-later">Прочитать позже</label>
        </div>
        <div class="inner-text" id="inner">
        </div>
    </mat-card>


</div>