.document {
    width: 600px;
    height: 800px;
}
.article-container {
    width: 70%;
    margin-top: 3em;
    background-color: cornsilk;
    padding: 50px;
}
.general-article-cont {
    display: flex;
    justify-content: center;
}
.example-button-container {
    border: none;
}
.read-later {
    margin-left: 1em;
    font-size: 14px;
    margin-top: 0.5em;
    font-family: Work -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}
section {
    display: table;
    margin: 8px;
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    width: 120px;
}

.example-button-row {
    display: table-cell;
}

.example-button-row button {
    display: table-cell;
    margin-right: 8px;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    width: 480px;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}
.pt-a0-000004{
    font-family: Montserrat;
}