<div class="general-container">
    <div class="example-container">
        <div class="photo-upload">
            <label class="center-icon"><img class="icon-photo"
                    src="https://327517.selcdn.ru/darkxx/photo-camera-1_icon-icons.com_63898.png"></label>
            <div class="title-ph" *ngIf="isPhotoGet">{{titlePhoto}}</div>
            <input class="upload" type="file" id="file2" (change)="uploadPhoto($event.target.files)" multiple>
        </div>
        <form [formGroup]="articleForm" novalidate>
            <mat-form-field class="input" appearance="fill">
                <mat-label>Название документа</mat-label>
                <input formControlName="name" matInput>
            </mat-form-field>
            <br>
            <mat-form-field class="input" appearance="fill">
                <mat-label>Описание документа</mat-label>
                <textarea formControlName="description" matInput></textarea>
            </mat-form-field>
        </form>
        <div class="select-classificator" *ngIf="isSelectClassificator">
            <mat-label>Выбран классификатор:</mat-label>
            <div class="cls-text">{{selectClassificator}}</div>
        </div>
    </div>
    <div class="select-file-container">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <div class="example-1">
            <div class="form-group">
                <label class="label">
                    <i class="material-icons">attach_file</i>
                    <span class="title">
                        <div>{{title}}</div>
                    </span>
                    <input type="file" id="file" (change)="uploadFile($event.target.files)" multiple>
                </label>
            </div>
        </div>
    </div>

    <div class="button-container">
        <mat-card *ngIf="isGetClassificators">
            <div *ngFor="let item of classificators">
                <button class="button" mat-raised-button color="warn"
                    (click)="pickClassificator(item.id, item.sourceForDocument, item.name)">{{item.name}} -
                    релевантность:
                    {{item.probability}}</button><br>
            </div>
            <button class="button-send" mat-raised-button color="accent" (click)="onSendDocument()">Опубликовать
                статью</button>
        </mat-card>
    </div>
</div>