.buttons {
    border-radius: 5px;
}
.spinner {
    position: absolute;
    left: 10em;
}

.example-1 .form-group {
    padding: 1em;
    margin: 1em;
}
.example-1 input[type="file"] {
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;
}
.example-1 .label {
    width: 130px;
    border: 2px dashed grey;
    border-radius: 5px;
    display: block;
    padding: 1.2em;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center;
    height: 155px;
}
.example-1 .label i {
    display: block;
    font-size: 42px;
    padding-bottom: 16px;
}
.example-1 .label i,
.example-1 .label .title {
    color: grey;
    transition: 200ms color;
}
.example-1 .label:hover {
    border: 2px solid #000;
}
.example-1 .label:hover i,
.example-1 .label:hover .title {
    color: #000;
}
.input {
    width: 130%;
}
.example-container {
    position: absolute;
    left: 20em;
}

.general-container {
    position: relative;
    left: -8em;
}
.select-file-container {
    position: absolute;
    left: 9em;
    top: -1.9em;
}
.button-container {
    left: 11em;
    position: absolute;
    top: 11em;
    width: 27.4%;
}
.button {
    margin-top: 0.5em;
    width: 100%;
}

.select-classificator {
    position: absolute;
    left: 18em;
    top: 0em;
}
.cls-text {
    color: red;
}
.button-send {
    margin-top: 0.5em;
    margin-left: 14.8em;
}
.tool {
    margin-bottom: 2em;
}
.image {
    width: 9%;
    height: 11%;
    right: 43em;
    bottom: 36.6em;
    border-radius: 15px;
    position: absolute;
}
.upload {
    outline: 0;
    opacity: 0;
    user-select: none;
    margin-left: -1em;
    margin-top: 2em;
    cursor: pointer;
}
.photo-upload {
    background-color: gainsboro;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-left: 5.5em;
    margin-bottom: 2em;
}
.center-icon {
    position: absolute;
    left: 7.2em;
    top: 1.7em;
}
.icon-photo {
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
}
.image{
    z-index: 1111;
    width: 100%;
}
.title-ph{
    font-size: 10px;
    position: absolute;
    top: 5.5em;
    left: 10.8em;
}
