<mat-toolbar class="tool">Личный кабинет</mat-toolbar>
<mat-drawer-container class="example-container">
    <mat-drawer class="menu" mode="side" opened>
        <div class="menu-container">
            <button mat-stroked-button (click)="onClickLibrary()" color="warn">Моя библиотека</button>
        </div>
    </mat-drawer>
    <mat-drawer-content class="content">
        <div *ngIf="isSelectLibrary">
            <mat-grid-list cols="3" rowHeight="3:2">
                <div *ngFor="let item of uesrArticles">
                    <mat-grid-tile (click)="onPickArticle(item.id)" class="grid">
                        <img class="cover"
                            src="https://327517.selcdn.ru/darkxx/uploads/1454f4a2-2bb1-4a9f-bb30-a29f62306688.png"><br>
                        <div class="item-name">{{item.name}}</div><br>
                        <div class="item-description">{{item.description}}</div>
                    </mat-grid-tile>

                </div>
            </mat-grid-list>
        </div>

    </mat-drawer-content>
</mat-drawer-container>