.menu {
    height: 600px;
    background-color: whitesmoke;
    width: 180px;
}
.content {
    padding: 20px;
}
.menu-container {
    padding: 20px;
    margin-top: 2em;
}
.tool {
    margin-bottom: 0.3em;
}

.cover {
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 3.2em;
    border-radius: 25px;
    padding-right: 5px;
    padding-left: 4px;
}
.example-container {
    height: 500px;
}
.mat-grid-tile {
    background: rgb(190, 186, 186);
}
.grid {
    border-radius: 25px;
    cursor: pointer;
}
.grid:hover {
   
    box-shadow: 0px 0px 20px rgba(255, 113, 113, 0.8);
}
.item-name {
    color: red;
    z-index: 100;
    position: absolute;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}
.item-description {
    color: red;
    z-index: 100;
    position: absolute;
    bottom: 2em;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}
