.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.spacer {
    flex: 1 1 auto;
}

.mat-toolbar a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.center {
    margin: auto;
    width: 100%;
    padding: 10px;
    min-height: 600px;
    background: white;
    background-size: cover;
}

.mat-toolbar.mat-primary {
    background: gray;
    color: #fff;
    opacity: 0.8;
}

.photo {
    width: 6%;
    height: 130%;
    padding: 10px;
    border-radius: 50%;
    z-index: 1000;
}
.user {
    font-size: 15px;
    font-family: Actor;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    margin-left: 83em;
    margin-top: -1em;
    position: absolute;
}
.user-logout {
    margin-left: 95em;
    margin-top: 1em;
    position: absolute;
}
