<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'">
        <mat-toolbar>
            RecSystem
        </mat-toolbar>
        <mat-divider></mat-divider>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/general']">На главную</a>
            <a mat-list-item [routerLink]="['/preference']">Предпочтения</a>
            <a mat-list-item [routerLink]="['/lk']">Личный кабинет</a>
            <a mat-list-item [routerLink]="['/article']">Создать статью</a>
            <a mat-list-item [routerLink]="['/theme/list']">Темы</a>
            <div *ngIf="isAuth">
            </div>
            <div *ngIf="!isAuth">
                <a mat-list-item [routerLink]="['account', 'login']">Войти</a>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span class="spacer"></span>
            <div *ngIf="!isAuth; else profile">
                <a class="sign-in" [routerLink]="['account', 'login']">Войти</a>
                <a class="sign-in" [routerLink]="['account', 'registration']">Регистрация</a>

            </div>
            <label *ngIf="isGetUser" class="user">Пользователь: {{user.firstName}}</label>
            <button class="user-logout" *ngIf="isAuth" mat-button (click)="logout()">
                Выйти
            </button>
            <img class="photo" *ngIf="isGetUser" [src]="user.photoUpload.source" alt="">
        </mat-toolbar>
        <div class="center">
            <ng-content></ng-content>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>