<div class="registrationContainer">
  <div class="registration">
    <div class="registrationTitle">
      <h2>Регистрация</h2>
    </div>
    <div class="select-file-container">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <div class="example-1">
        <div class="form-group">
          <label class="label">
            <span *ngIf="isPhotoGet" class="title">
              <img class="image" [src]="photo.source">
            </span>
            <i  *ngIf="!isPhotoGet" class="material-icons">attach_file</i>
            <input type="file" id="file" (change)="uploadFile($event.target.files)" multiple>
          </label>
        </div>
      </div>
    </div>





    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <formly-form [model]="model" [fields]="fields" [options]="options" [form]="registerForm"></formly-form>
      <button type="submit" mat-flat-button color="primary" [disabled]="!registerForm.valid">
        Зарегистрироваться
      </button>
    </form>
  </div>
</div>
<div class="space"></div>