.registration{
    display: flex;
    justify-content: center;
    background-color: white;
    flex-wrap: wrap;
    width: 50%;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-left: 130px;
    padding-right: 130px; 
}
.registrationTitle{
    display: block;
    width: 100%;
    text-align: center;
}
.registrationContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height:40em;
}
.space{
    height: 34px;
}

@media screen and (max-width: 500px){
    .registration{
        display: flex;
        justify-content: center;
        background-color: white;
        flex-wrap: wrap;
        width: 85%;
        border-radius: 10px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px; 
    }
}



.example-1 input[type="file"] {
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;
}
.example-1 .label {
    width: 100px;
    border: 2px dashed grey;
    border-radius: 5px;
    display: block;
    padding: 1.2em;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center;
    height: 80px;
    margin-bottom: -1.5em;
}
.example-1 .label i {
    display: block;
    font-size: 42px;
    padding-bottom: 16px;
}
.example-1 .label i,
.example-1 .label .title {
    color: grey;
    transition: 200ms color;
}
.example-1 .label:hover {
    border: 2px solid #000;
}
.example-1 .label:hover i,
.example-1 .label:hover .title {
    color: #000;
}
.input {
    width: 100%;
}
.image{
    width: 9%;
    height: 11%;
    right: 43em;
    bottom: 36.6em;
    border-radius: 15px;
    position: absolute;
}