<mat-toolbar class="tool">Создание темы</mat-toolbar>
<div class="container">
    <div class="card2">
        <div class="card-input">
            <form [formGroup]="themeForm" novalidate>
                <mat-form-field class="field" appearance="fill">
                    <mat-label class="label">Введите название темы предпочтений</mat-label>
                    <input formControlName="name" matInput>
                </mat-form-field>
            </form>
        </div>
        <div class="card-cls">
            <div class="example-container">
                <h2>Классификаторы</h2>
                <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
                    class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item.name}}</div>
                </div>
            </div>
            <div class="example-container">
                <h2>Сопоставить тему с</h2>
                <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
                    class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item.name}}</div>
                </div>
            </div>
        </div>
        <div class="button-container">
            <button class="button" (click)="onClick()" mat-stroked-button color="warn">Создать</button>
        </div>
    </div>
</div>