<div class="footer">

    <div class="about-container">
        <a class="about" href="">О библиотеке</a>
    </div>
    <div class="articles-container">
        <a class="about" href="">Статьи</a>
    </div>
    <div class="users-conf">
        <a class="about" href="">Пользовательское соглашение</a>
    </div>
    <div class="db">
        <a class="about" href="">Базы данных</a>
    </div>
</div>