.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background:gray;
}
.about{
  color: white;
  margin-right: 2em;
  margin-left: 2em;
}