/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr.css';

body {
    margin: 0;
    background:white;
    background-size: cover;
}

.mainTitle {
    text-align: center;
    text-shadow: 1px 1px 1px black;
    font-size: 70px;
    color: white;
}

/* .mat-focused .mat-form-field-label {
    color: green !important;
}

.mat-form-field-ripple {
    background-color: green !important;
} */